{% extends 'base.html' %}
{% block body %}
{% load static %}

<section class="section video" data-section="section5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 align-self-center">
          <div class="left-content">
            <span>Proxima Edu Care</span>
            <h4>Worried about your Career in Azamgarh?<em> We have got it covered!</em></h4>
            <p>We have taken the initiative to get all the schools, tutors and institutes accessible with one click! You can access the top schools, tutors or institutes in Azamgarh just by visiting the site. You can also see available courses which you can do in Azamgarh. You can also book tutors for your kid or yourself with one click! You can check which school is better than the rest!
            <br><br>We are bringing all the facilities available in Azamgarh for students to make them excel in their lives.</p>
          </div>
        </div>
        <div class="col-md-6">
          <article class="video-item">
            <div class="video-caption">
              <h4>Registered Certificate!</h4>
            </div>
            <figure>
              <img src="{% static 'assets/images/main-thumb.png' %}">
            </figure>
          </article>
        </div>
      </div>
    </div>
  </section>
  <section class="section coming-soon" data-section="section3">
    <div class="container">
    <div class="row">
    <div class="col-md-12">
        <div class="right-content">
          <div class="top-content">
            <h1 style="color: beige;">About The Developer!</h1>
        </div>
    </div>
</div>
</div></div></section>
<section class="section video" data-section="section5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 align-self-center">
          <div class="left-content">
            <span>Ekaansh Sahni</span>
            <h4>Want to Know about the Developer?<em> Here i am!</em></h4>
            <p>You can google him as “ekesel”. Developing strong relationships is the foundation of everything he does, both professionally and personally. He does the back end of our Online Presence. He is due to graduate from Lovely Professional University in 2023. Ever since he was a high school student, He had been passionate about coding and development. He loves competitive coding and has been a part of it since a year now.He has earlier created a online tech. blog while he was in high school which gained popularity and had 100-200 visitors visiting per week. He has made a few projects which are available on his GitHub. He has created an Exam Conducting Module where students can give test or teachers can generate random set of questions for taking test. Also they can store scores there of each student as it has a login system with it. He has created a Google API Home Assistant by using Raspberry Pi. He named it the EkePi.</p></p>
          </div>
        </div>
        <div class="col-md-6">
          <article class="video-item">
            <div class="video-caption">
              <h4>Me :)</h4>
            </div>
            <figure>
              <img src="{% static 'assets/images/person_1.jpg' %}">
            </figure>
          </article>
        </div>
      </div>
    </div>
  </section>
  <section class="section courses" data-section="section4">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Our Marketing And Networking Team!</h2>
          </div>
        </div>
        <div class="owl-carousel owl-theme">

          <div class="item">
            <img src="{% static 'assets/images/sid.jpg' %}" alt="Siddharth">
            <div class="down-content">
              <h4>Siddharth Yadav</h4>
              <div class="author-image">
                <img src="{% static 'assets/images/teacher.png' %}" alt="Author 1">
              </div>
            </div>
          </div>
            <div class="item">
            <img src="{% static 'assets/images/ss.jpg' %}" alt="Shashwat">
            <div class="down-content">
              <h4>Shashwat Srivastava</h4>
              <div class="author-image">
                <img src="{% static 'assets/images/teacher.png' %}" alt="Author 1">
              </div>
            </div>
          </div>
          <div class="item">
            <img src="{% static 'assets/images/rj.jpg' %}" alt="Rishabh">
            <div class="down-content">
              <h4>Rishabh Jaiswal</h4>
              <div class="author-image">
                <img src="{% static 'assets/images/teacher.png' %}" alt="Author 1">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock body %}