{% extends 'base.html' %}
{% block body %}
{% load static %}
<section class="section coming-soon" data-section="section3">
    <div class="container">
    <div class="row">
    <div class="col-md-12">
        <div class="right-content">
          <div class="top-content">
            <form action="{% url 'needspace' %}" method="get">
                <input name="q" type="text" placeholder="Search...">
            </form>
        </div>
    </div>
</div>
</div></div></section>
<section class="section courses" data-section="section4">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Check out Educational Rooms Avaialble on Rent!</h2>
          </div>
        </div>
        <div class="owl-carousel owl-theme">
            {% for space in object_list %}
          <div class="item">
            <img src="{{space.image}}" alt="Space">
            <a href="{% url 'profilespace' space.id %}">
            <div class="down-content">
              <h4>{{space.location}}</h4>
              <p>Rooms: {{space.rooms}} <br>Equipped With:{{space.equip}} <br>Charge: {{space.charge}}</p>
              <div class="author-image">
                <img src="{% static 'assets/images/teacher.png' %}" alt="Author 1">
              </div>
              <div class="text-button-pay">
                <a href="{% url 'profilespace' space.id %}">Rent Now!<i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
        </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

  <section class="section coming-soon" data-section="section3">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-xs-12">
          <div class="continer centerIt">
            <div>
              <h4>Take <em>the Cheapest Educational Room available </em> and keep teaching your students! :) <br> <br>
              {{minlocation}} <br>
              <em> Rs. {{mincharge}} </em><br>
              <span>{{minequip}}</span></h4>
            </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>
  {% endblock body %}