{% extends 'base.html' %}
{% block body %}
{% load static %}
<section class="section video" data-section="section5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 align-self-center">
          <div class="left-content">
            {% if ownprofile == True %}
            <span>College Details</span>
            <form id="contact" action="" method="POST">
              {% csrf_token %}  
              <div class="row">
                <div class="col-md-12">
                  <fieldset>
                    <input name="name" type="text" class="form-control" id="name" placeholder="{{obj.name}}" required>
                    <br>
                  </fieldset>
                </div>
                <div class="col-md-12">
                  <fieldset>
                    {{obj.email}}
                  </fieldset>
                  <br>
                </div>
                <div class="col-md-12">
                  <fieldset>
                    <input name="mobno" type="tel" class="form-control" id="mobno" placeholder="{{obj.mobno}}" required>
                    <br>
                  </fieldset>
                </div>
                <div class="col-md-12">
                  <fieldset>
                    <input name="major" type="text" class="form-control" id="major" placeholder="{{obj.major}}" required>
                    <br>
                  </fieldset>
                </div>
                <div class="col-md-12">
                  <fieldset>
                    <input name="website" type="url" class="form-control" id="website" placeholder="{{obj.website}}" required>
                    <br>
                  </fieldset>
                </div>
                <div class="col-md-12">
                  <fieldset>
                    <input name="fees" type="number" class="form-control" id="fees" placeholder="{{obj.fees}}" required>
                    <br>
                  </fieldset>
                </div>
                <div class="col-md-12">
                  <fieldset>
                    <input name="location" type="text" class="form-control" id="location" placeholder="{{obj.location}}" required>
                    <br>
                  </fieldset>
                </div>
                <div class="col-md-12">
                  <fieldset>
                    <button type="submit" id="form-submit" class="button">Update Now</button>
                  </fieldset>
                </div>
              </div>
            </form>
            {% else %}
            <h4>College<em> Information</em></h4>
            <h6>College Name: {{obj.name}} <br> <br>
                Fees: Rs.{{obj.fees}} <br> <br>
                Contact. No. {{obj.mobno}} <br> <br>
                Majors : {{obj.major}} <br> <br>
                Email: {{obj.email}} <br> <br>
                Location: {{obj.location}} <br> <br>
                Website: {{obj.website}} <br> <br>
                Contact the School from their number/email and get Admission! <br><br>
<a href="{% url 'contact' %}">If you feel like, Tell us and We will contact them for you </a> <br><br>
                Report rude behaviour and complaints at complaints@proximaeducare.in</h6>
                {% endif %}
          </div>
        </div>
        <div class="col-md-6">
          <article class="video-item">
            <div class="video-caption">
              <h4>{{obj.name}}</h4>
            </div>
            <figure>
              <a href="#"><img src="{{obj.image}}"></a>
            </figure>
          </article>
        </div>
      </div>
    </div>
  </section>
{% endblock body %}